.headerBar {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 30px;
  &__title {
    font-size: 28px;
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: auto;
  }
}
